<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
    </form>

</div>
    <table class="table-primary">
        <thead>
        <tr>
            <th>Party</th>
            <th>Results</th>
        </tr>
        {% for n in no %}
        <tr>
            <td>{{n.party_abbreviation}}</td>
            <td>{{n.party_score}}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>

{% endblock %}
</body>
</html>